.docker
.DS_Store
.env
.gemini/
.idea
.integration-tests/
*.iml
*.tsbuildinfo
*.vsix
bower_components
bundle
coverage
dist
eslint.config.js
generated
gha-creds-*.json
junit.xml
node_modules
Thumbs.db
