# Python
.python-version
__pycache__/
*.pyc
*.pyd
*.pyo
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/

# Databases
*.db
*.sqlite3

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/
