class {class_name} {{
    /**
     * {description}
     */
    constructor({constructor_params}) {{
        {constructor_body}
    }}

    /**
     * {method_description}
     */
    {main_method}({method_params}) {{
        {method_body}
    }}
}}
